@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

#root {
  width: 100%;
  height: 100%;
}

/* Отключение выделения для киоска */
* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Убрать outline для кнопок при клике */
button:focus,
button:active {
  outline: none;
}
